[Desktop Entry]
Name=RetroArch
Comment=RetroArch Emulator
Exec=retroarch %f
Icon=retroarch
Terminal=false
Type=Application
Categories=Game;Emulator;
StartupWMClass=retroarch

